<% if !@pictures[0]%>

  <div class="banner-bar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/F35EmcotWPY/1200x600);">
    <div class="container">
      <div class="content">
        <h1><%= @profile[:username].capitalize %></h1>
        <% if current_user == @profile.user %>

          <br><br><p><%= link_to 'Add pictures', new_profile_artist_picture_path(@profile), class:"bw-border-tbg" if current_user == @profile.user %></p>
        <%end%>

        <h3><% if !current_user.bars.empty? %>

          <button type="button" class="bw-border-tbg fullspace" data-toggle="modal" data-target="#addProfile<%= @profile.id %>ChatboxModal">
                    Contact this artist !
                  </button>
          <%= render 'chatboxes/new_modal', profile: @profile, chatbox: Chatbox.new  %>

          <button type="button" class="bw-border-tbg fullspace" data-toggle="modal" data-target="#addProfile<%= @profile.id %>EventModal">
                    Create an event with this artist !
                  </button>
          <%= render 'events/new_modal', profile: @profile, event: Event.new  %>

          <% end %></h3>
        </div>
    </div>
  </div>

<%end%>


<% if @pictures[0] && !@pictures[1]%>

  <div class="banner-bar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @pictures[0].photo, :width => 1200, :height => 400, crop: :fill, class:"d-block w-100"%>');">
    <div class="container">
      <div class="content">
        <h1><%= @profile[:username].capitalize %> </h1>
         <% if current_user == @profile.user %>

          <br><br><p><%= link_to 'Add pictures', new_profile_artist_picture_path(@profile), class:"bw-border-tbg" if current_user == @profile.user %></p>
        <%end%>

        <h3><% if !current_user.bars.empty? && current_user.profile.is_artist %>
          <%= link_to "Contact this artist !", new_profile_chatbox_path(@profile), class:"b-border-tbg" %>
          <% end %></h3>
        </div>
    </div>
  </div>

<%end%>
<!--//Default banners when 0 or 1 pic only -->


<!--Carousel Wrapper-->
<% if @pictures[0] && @pictures[1]%>

  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
          <li data-target="#carousel-example-2" data-slide-to="3"></li>
          <li data-target="#carousel-example-2" data-slide-to="4"></li>

      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <div class="view">
              <%= cl_image_tag @pictures[0].photo, width: 1200, height: 700, crop: :fill, class:"d-block w-100"%>
                  <div class="mask rgba-black-light"></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive"><%= @profile[:username].capitalize %></h3>
              </div>
          </div>
          <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <%= cl_image_tag @pictures[1].photo, width: 1200, height: 700,crop: :fill, class:"d-block w-100"%>
                  <div class="mask rgba-black-strong"></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive"><%= @profile[:username].capitalize %></h3>
              </div>
          </div>
          <% if @pictures[2]%>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <%= cl_image_tag @pictures[2].photo, width: 1200, height: 700, crop: :fill, class:"d-block w-100"%>
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive"><%= @profile[:username].capitalize %></h3>
                </div>
            </div>
          <%end%>
          <% if @pictures[3]%>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <%= cl_image_tag @pictures[3].photo, width: 1200, height: 700, crop: :fill, class:"d-block w-100"%>
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"><%= @profile[:username].capitalize %></h3>
                </div>
            </div>
          <%end%>
          <% if @pictures[4]%>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <%= cl_image_tag @pictures[4].photo, width: 1200, height: 700, crop: :fill, class:"d-block w-100"%>
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"><%= @profile[:username].capitalize %></h3>
                </div>
            </div>
          <%end%>
      </div>
      <!--/.Slides-->
      <!--Control next-->
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
  </div>

<!--/.Carousel Wrapper-->

  <div class="container">
    <br><h3><%= @profile[:description] %></h3>

      <% if current_user == @profile.user %>

        <br><%= link_to 'Add pictures', new_profile_artist_picture_path(@profile), class:"bw-border-tbg" if current_user == @profile.user %></p>
      <%end%>

    <h3><% if !current_user.bars.empty? && current_user.profile.is_artist %>
          <%= link_to "Contact this artist !", new_profile_chatbox_path(@profile), class:"b-border-tbg" %>
        <% end %></h3>
  </div>
<%end%>
