<div class="card-login">
  <%= simple_form_for(@profile) do |f| %>
    <%= f.error_notification %>


  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>

    <%= f.input :address,
                required: true,
                autofocus: true,
                id: 'profile_address',
                input_html: { autocomplete: "address" }%>

    <%= f.label "Register as a bar manager" %>
    <%= f.check_box :is_bar_manager %>

    <%= f.label "Register as an artist" %>
    <%= f.check_box :is_artist %>

    <%= f.input :artist_description,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "artist_description" }%>

    <%= f.input :instagram_username,
                autofocus: true,
                input_html: { autocomplete: "instagram_username" }%>

    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save", class: "b-border-tbg" %>
  </div>
<% end %>
</div>
