<div class="fuckfooter">
  <div class="container"><br><br><br><br>


  <% if !@unconfirmed_events.empty? %>


    <br><h1>Unconfirmed Events</h1>

    <div class="row">
      <% @unconfirmed_events.each do |event| %>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">
          <% if event.photo %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= event.photo %>');">
            <h2 class="white"><%= event.name %></h2><br>
            <%= link_to 'See more details', event_path(event), class: "bdash" %>
            <% if current_user.profile.is_artist %>
               <%= link_to "Confirm event", confirm_event_path(event), class: "bdash" %>
            <% end %>
            <% if current_user.profile.is_bar_manager %>
              <%= link_to 'Edit event', edit_event_path(event), class: "bdash" %>
              <%= link_to 'Delete event', event_path(event), method: :delete, class: "bdash", data: { confirm: "Delete this event ?" } %>
            <%end%>
            </div>
          <%end%>
        </div>
      <%end%>
    </div><br>

  <% end %>

  <% if !@current_events.empty? %>

  <br><h1>Current Events</h1>

    <div class="row">
      <% @current_events.each do |event| %>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">
          <% if event.photo %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= event.photo %>');">
            <h2 class="white"><%= event.name %></h2><br>
            <%= link_to 'See more details', event_path(event), class: "bdash" %>
            <% if current_user.profile.is_artist %>
               <%= link_to "Confirm event", confirm_event_path(event), class: "bdash" %>
            <% end %>
            <% if current_user.profile.is_bar_manager %>
              <%= link_to 'Edit event', edit_event_path(event), class: "bdash" %>
              <%= link_to 'Delete event', event_path(event), method: :delete, class: "bdash", data: { confirm: "Delete this event ?" } %>
            <%end%>
            </div>
          <%end%>
        </div>
      <%end%>
    </div><br>

  <% end %>


  <% if !@past_events.empty? %>

  <br><h1>Past Events</h1>

    <div class="row">
      <% @past_events.each_with_index do |event, i| %>
        <div class="col-xs-10 col-sm-6 col-md-4 col-lg-3">
          <% if event.photo %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= event.photo %>');">
            <h2 class="white"><%= event.name %></h2><br>
            <%= link_to 'See more details', event_path(event), class: "bdash" %>
            <% if current_user.profile.is_artist %>
               <%= link_to "Confirm event", confirm_event_path(event), class: "bdash" %>
            <% end %>
            <% if current_user.profile.is_bar_manager %>
              <%= link_to 'Edit event', edit_event_path(event), class: "bdash" %>
              <%= link_to 'Delete event', event_path(event), method: :delete, class: "bdash", data: { confirm: "Delete this event ?" } %>
            <%end%>
            <% if @reviews[i] %>
              <br><div class="review-w">
                “<%= @reviews[i][:content] %>”
                <br><% @reviews[i][:rating].times do %>
                  <i class="fas fa-star"></i>
                <% end %>
                 <br><br><p><button type="button" class="bw-border-tbg" data-toggle="modal" data-target="#addEvent<%= event.id %>ReviewModal">
                      Edit Review
                    </button></p>
                  <%= render 'reviews/new_modal', event: event, review: Review.new  %>
                <p><%= link_to 'Delete review', event_review_path(event, @reviews[i]), method: :delete, data: { confirm: "Delete this event ?" }, class: "bw-border-tbg" %></p>
              </div>
            <% else %>
               <p><button type="button" class="button bw-border-tbg" data-toggle="modal" data-target="#addEvent<%= event.id %>ReviewModal">
                    Add Review
                  </button></p>
                <%= render 'reviews/new_modal', event: event, review: Review.new  %>
            <% end %>
            </div>
          <%end%>
        </div>
      <%end%>
    </div><br>

  <% end %>

  <% if (@unconfirmed_events.empty? && @past_events.empty?) && @current_events.empty? %>

    <h1> No events.. yet !</h1>
  <% end %>

  </div>
</div>


