<h1>Edit <%= @profile.username %></h1>

<% if current_user == @profile.user %>

    <%= simple_form_for(@profile) do |f| %>
    <div class="card-profile">
    <%= cl_image_tag @profile.photo, :width => 200, :height => 200, crop: :fill, id: "profile", gravity: :face %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :username %>
      <div class="profile-description">
        <% if @profile.is_artist %>
          <%= f.input :description %>
        <% end %>
        <%= f.input :address %>
      </div>
    <%= f.button :submit, "Update profile" %>
  <% end %>

<% end %>
