    <div class="card-profile">
    <%= cl_image_tag @profile.photo, :width => 150, :height => 150, crop: :fill, id: "profile", gravity: :face %>
      <div class="left-description">
        <h2>
          <%= @profile.username %>
        </h2>
        <h3>
          <%= @profile.artist_description %>
        </h3>
      </div>
    </div>
            <div class="find">
              <div
              id="map"
              style="width: 100%;
              height: 100%;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
            ></div>
            </div>

      <%if current_user == @profile.user %>
          <p><%= link_to 'Edit my profile', edit_profile_path(@profile), class: "btn" %></p>
      <%end%>

        <% if !current_user.bars.empty? && @profile.is_artist %>
          <%= link_to 'Create an event with this artist!', new_profile_event_path(@profile), class: "btn" %>
        <% end %>

          <h2>Events</h2>
          <% @profile.user.events.each do |event| %>
            <div class="card-hz-bg">
              <%= cl_image_tag event.photo, width: 200, height: 200, crop: :fill %>
              <div class="left-description">
                <h3><%= event.name %></h3>
                <p> <%= event.description%></p>
              </div>
            </div>
          <% end %>

<% if !current_user.bars.empty? && @profile.is_artist %>
  <%= link_to "Contact this artist !", profile_chatboxes_path(@profile), method: :post %>
<% end %>

<%# if @profile.is_bar_manager && current_user.profile.is_artist %>
  <%#= link_to "Contact this bar !", profile_chatboxes_path(@profile), method: :post %>
<%# end %>

