  <!--Default banners when 0 or 1 pic only -->
<% if !@pictures[0]%>

  <div class="banner-bar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/oXOIH4UAixo/1300x780);">
    <div class="container">
      <div class="content">
        <h1><%= @bar[:name].capitalize %></h1>
        <h3><%= @bar[:description] %></h3>
        <% if current_user == @bar.user %>

          ><%= link_to 'Add pictures', new_bar_picture_path(@bar), class:"bw-border-tbg" if current_user == @bar.user %>

        <% else %>

          <%= link_to "See #{@bar.user.profile.username.capitalize}'s profile", profile_path(@bar.user.profile), class:"blue-link" %>
        <%end%>

        <h3><% if current_user.profile && (current_user.bars.empty? && current_user.profile.is_artist) %>
          <%= link_to "Contact this bar !", new_profile_chatbox_path(@bar.user.profile), class:"b-border-tbg" %>
          <% end %></h3>
        </div>
    </div>
  </div>

<%end%>


<% if @pictures[0] && !@pictures[1]%>

  <div class="banner-bar" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @pictures[0].photo, :width => 1300, :height => 780, crop: :fill, class:"d-block w-100"%>');">
    <div class="container">
      <div class="content">
        <h1><%= @bar[:name].capitalize %> </h1>
        <h3><%= @bar[:description] %></h3>
         <% if current_user == @bar.user %>

          <br><br><p><%= link_to 'Add pictures', new_bar_picture_path(@bar), class:"bw-border-tbg" if current_user == @bar.user %></p>

        <% else %>

          <br><br><p><%= link_to "See #{@bar.user.profile.username.capitalize}'s profile", profile_path(@bar.user.profile), class:"blue-link" %> </p>
        <%end%>

        <h3><% if current_user.profile && (current_user.bars.empty? && current_user.profile.is_artist) %>
          <%= link_to "Contact this bar !", new_profile_chatbox_path(@bar.user.profile), class:"b-border-tbg" %>
          <% end %></h3>
        </div>
    </div>
  </div>

<%end%>
<!--//Default banners when 0 or 1 pic only -->


<!--Carousel Wrapper-->
<% if @pictures[0] && @pictures[1]%>

  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
      <!--Indicators-->
<!--       <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
          <li data-target="#carousel-example-2" data-slide-to="3"></li>
          <li data-target="#carousel-example-2" data-slide-to="4"></li>

      </ol> -->
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <div class="view">
              <%= cl_image_tag @pictures[0].photo, width: 1300, height: 780, crop: :fill, class:"d-block w-100"%>
                  <div class="mask rgba-black-light"></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive"><%= @bar[:name].capitalize %></h3>
              </div>
          </div>
          <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <%= cl_image_tag @pictures[1].photo, width: 1300, height: 780,crop: :fill, class:"d-block w-100"%>
                  <div class="mask rgba-black-strong"></div>
              </div>
              <div class="carousel-caption">
                  <h3 class="h3-responsive"><%= @bar[:name].capitalize %></h3>
              </div>
          </div>
          <% if @pictures[2]%>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <%= cl_image_tag @pictures[2].photo, width: 1300, height: 780, crop: :fill, class:"d-block w-100"%>
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive"><%= @bar[:name].capitalize %></h3>
                </div>
            </div>
          <%end%>
          <% if @pictures[3]%>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <%= cl_image_tag @pictures[3].photo, width: 1300, height: 780, crop: :fill, class:"d-block w-100"%>
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"><%= @bar[:name].capitalize %></h3>
                </div>
            </div>
          <%end%>
          <% if @pictures[4]%>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <%= cl_image_tag @pictures[4].photo, width: 1300, height: 780, crop: :fill, class:"d-block w-100"%>
                    <div class="mask rgba-black-slight"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive"><%= @bar[:name].capitalize %></h3>
                </div>
            </div>
          <%end%>
      </div>
      <!--/.Slides-->
      <!--Control next-->
      <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
  </div>

<!--/.Carousel Wrapper-->

  <div class="container">
    <br><h3><%= @bar[:description] %></h3>

      <% if current_user == @bar.user %>

        <br><p><%= link_to 'Add pictures', new_bar_picture_path(@bar), class:"b-border-tbg" if current_user == @bar.user %></p>

      <% else %>

        <br><p><%= link_to "See #{@bar.user.profile.username.capitalize}'s profile", profile_path(@bar.user.profile), class:"b-border-whitebg" %> </p>
      <%end%>

    <h3><% if current_user.profile && (current_user.bars.empty? && current_user.profile.is_artist) %>
          <%= link_to "Contact this bar !", new_profile_chatbox_path(@bar.user.profile), class:"b-border-whitebg" %>
        <% end %></h3>
  </div>
<%end%>
