

<!-- Modal -->
<div class="modal fade" id="addProfile<%= @bar.user.profile.id %>ChatboxModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document" >
    <div class="modal-content"style="background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.2)), url(https://source.unsplash.com/1VPoVeKGSWc/1200x600);">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">
          <%="Say hi to #{Bar.find(params[:id]).user.profile.username} !"%>
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

<div class="container">
            <%= simple_form_for [@bar.user.profile, chatbox] do |b| %>
              <%= b.error_notification %>
              <%= text_field_tag 'message[content]',nil , class: 'first-input input-des', placeholder: "  Type your message here ..." %>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="sml" data-dismiss="modal">x</button>
        <%= b.button :submit, "Go ✨", class: "button" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
