<h1>Bar of <%= link_to @bar[:name].capitalize, profile_path(@bar.user.profile) %> </h1>
<!-- FOR CAROUSEL -->

<% @pictures.each do |picture| %>
    <%= cl_image_tag picture.photo, :width => 150, :height => 150, crop: :fill, id: "profile", gravity: :face %>
      <div class="left-description">
  <% if current_user == @bar.user %>
    <%= link_to 'delete this picture', bar_picture(picture), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<%= link_to 'Add a picture', new_bar_picture(@bar) if current_user == @bar.user %>


<p><%= @bar[:description] %></p>
<p><%= @bar[:address] %></p>
<br><%= link_to "Back to list of bars", bars_path %>
