<h1><%= @bar[:name].capitalize, profile_path(@bar.user.profile) %> </h1>
<h1><%= link_to @bar[:name].capitalize, profile_path(@bar.user.profile) %> </h1>
<!-- FOR CAROUSEL -->

<% @pictures.each do |picture| %>
    <%= cl_image_tag picture.photo, :width => 150, :height => 150, crop: :fill, id: "profile", gravity: :face %>
      <div class="left-description">
  <% if current_user == @bar.user %>
    <%= link_to 'delete this picture', picture_path(picture), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<%= link_to 'Add a picture', new_bar_picture_path(@bar) if current_user == @bar.user %>


<p><%= @bar[:description] %></p>
<p><%= @bar[:address] %></p>
<br><%= link_to "Back to list of bars", bars_path %>
