<%= render 'bar-banner'%>

<div class="container">

  <!-- Displaying in small every other pics -->
  <br><div class="cards-grid-photos">
    <% @pictures.each do |picture| %>
      <div class="photocard">
      <%= cl_image_tag picture.photo, :width => 150, :height => 150, crop: :fill, id: "profile", gravity: :face %>

      <% if current_user == @bar.user %>
        <%= link_to "✖️" , picture_path(picture), method: :delete, data: { confirm: "Are you sure?" }, class:"no" %>
      <% end %>
      </div>
    <% end %>
  </div>

  <% if !@bar.events.empty? %>

    <br><div class="cards-grid-3quarter">

        <div class="events">
            <h2>Events</h2>
            <% @bar.events.each do |event| %>
              <div class="card-hz-bg">
                <%= cl_image_tag event.photo, width: 200, height: 200, crop: :fill %>
                <div class="left-description">
                  <h3><%= event.name %></h3>
                  <p> <%= event.description%></p>
                </div>
              </div>
            <% end %>
        </div>

        <div
          id="map"
          style="width: 300px;
          height: 300px; margin: 10px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

    </div>

  <% else %>

          <br><div
          id="map"
          style="width: 100%;
          height: 300px; margin: 10px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>

  <%end%>

  <% if current_user.profile.is_artist %>
    <h3>RATINGS:</h3>
    <p>average rating: </p>
    <% @star.times do %>
      <p><%= "*" %></p>
    <% end %>
    <% @reviews.each do |review| %>
      <p><%= review[:content] %></p>
      <p>Rating:<%= review[:rating] %></p>
    <% end %>
  <% end %>

<br><div class="fullspace"><%= link_to "Back to list of bars", bars_path, class:"b-allwidth-lg" %></div>

</div>


