
<div class="banner-bar">
  <div class="container">
    <h1><%= @bar[:name].capitalize %> </h1>
    <h3><%= link_to @bar.user.profile.username.capitalize, profile_path(@bar.user.profile), class:"blue-link" %> </h3>
    <h3><%= @bar[:description] %></h3>
    <h3><% if current_user.profile && (current_user.bars.empty? && current_user.profile.is_artist) %>
      <%= link_to "Contact this bar !", new_profile_chatbox_path(@bar.user.profile), class:"b-border-tbg" %>
      <% end %></h3>
  </div>
</div>

<div class="container">

  <div class="photos">
  <!-- FOR CAROUSEL -->
    <% @pictures.each do |picture| %>
      <%= cl_image_tag picture.photo, :width => 150, :height => 150, crop: :fill, id: "profile", gravity: :face %>

      <% if current_user == @bar.user %>
        <%= link_to 'delete this picture', picture_path(picture), method: :delete, data: { confirm: "Are you sure?" }, class:"b-border-tbg" %>
      <% end %>

    <% end %>
  </div>


  <%= link_to 'Add a picture', new_bar_picture_path(@bar), class:"b-allwidth-lg" if current_user == @bar.user %>




  <div class="cards-grid-3quarter">

      <div class="events">
          <h2>Events</h2>
          <% @bar.events.each do |event| %>
            <div class="card-hz-bg">
              <%= cl_image_tag event.photo, width: 200, height: 200, crop: :fill %>
              <div class="left-description">
                <h3><%= event.name %></h3>
                <p> <%= event.description%></p>
              </div>
            </div>
          <% end %>
      </div>

      <div
        id="map"
        style="width: 300px;
        height: 300px; margin: 10px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>

  </div>

<br><div class="fullspace"><%= link_to "Back to list of bars", bars_path, class:"b-allwidth-lg" %></div>

</div>
