
<%= simple_form_for [@profile, @event] do |f| %>


  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :start_date, as: :text,  input_html: { class: 'datetimepicker' } %>

  <%= f.input :end_date, html5: true %>
  <%= f.input :description %>
  <%= f.input :category, collection: ["Concert", "Exhibition", "Performance"] %>
  <%= f.input :bar_id, collection: current_user.bars, value_method: :id %>

  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, "Submit", class: "b-border-tbg" %>
<% end %>

<div>
  <input class="datetimepicker" name="prova"/>
</div>


<%= form_for [@profile, @event] do |f| %>
  First name: <%= f.text_field :name %><br />

<div class="datetimepicker">

  Start_date : <%= f.text_field :start_date %><br />
  </div>
<%= f.submit %>
<% end %>

