<%=render 'event-banner'%>

<div class="container">

    <div class="cards-grid-3quarter">

      <div class="left">

        <div class="card-profile">
        <%= cl_image_tag @artist.photo, :width => 150, :height => 150, crop: :fill, id: "profile", gravity: :face %>
          <div class="left-description">
            <h2><%= link_to @artist[:username].capitalize, profile_path(@artist),class:"blue-link" %></h2>
            <h4>
              <%= @artist.artist_description %>
            </h4>
            <br><p><%= link_to "See more", profile_path(@artist),class:"b-border-tbg" %></p>
          <br></div>
        </div>
      </div>

      <div class="right">
        <% if !@event.bar.pictures.empty? %>
          <div class="cardib" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= @event.bar.pictures[0].photo %>');">
          <%= link_to @event.bar.name.upcase , bar_path(@event.bar), class:"bw-border-tbg bar" %>
          </div>
        <%end%>
      </div>
    </div>

             <div
          id="map"
          style="width: 100%;
          height: 350px; margin: 10px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>



      <% if current_user.profile.is_bar_manager %>
        <p><%= link_to 'Edit event', edit_event_path(@event), class: "b-border-tbg" %></p>
        <p><%= link_to 'Delete event', event_path(@event), method: :delete, class: "b-border-tbg", data: { confirm: "Are you sure?" } %></p>
      <%end%>


</div>


