<%=render 'event-banner'%>

<div class="container">
  <div class="card-login">

 <h3>What</h3>
 <p><%= @event[:description] %></p>
  <h3>When</h3>
  <p><%= @event[:start_date].strftime("From: %d %B %Y at %Hh%M") %></p>
  <p><%= @event[:end_date].strftime("To: %d %B %Y at %Hh%M") %></p>

      <% if current_user.profile.is_bar_manager %>
        <p><%= link_to 'Edit event', edit_event_path(@event), class: "b-border-tbg" %></p>
        <p><%= link_to 'Delete event', event_path(@event), method: :delete, class: "b-border-tbg", data: { confirm: "Are you sure?" } %></p>
      <%end%>

  </div>
</div>
