<!-- Modal -->
<div class="modal fade" id="exampleModalCenter-<%= event.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title-preview" id="exampleModalLongTitle">
          <%= event.name %> ðŸ’¡
        </h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="left">
          <h2><%= link_to event.user.profile.username.capitalize, profile_path(event.user),class:"blue-link" %>, </h2>
          <h2>at <%= link_to event.bar.name, bar_path(event.bar), class:"blue-link"%></h2>
          <p> from
                <%= event.start_date.strftime("%a %B %d") %>
          </p>
          <p>   to <%= event.end_date.strftime("%a %B %d") %>
          </p>
          <h4>
              <%= link_to "See artist profile
âœ¨ ", profile_path(event.user.profile),class:"b-allwidth-lg fullspace" %>
          </h4>
          <h4>
              <%= link_to "Discover the bar ðŸ¹", bar_path(event.bar),class:"b-allwidth-lg fullspace" %>
          </h4>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "Event details", event_path(event),class:"b-border-whitebg" %>
<!--         <button type="button" class="b-border-whitebg">Event details</button> -->
      </div>
    </div>
  </div>
</div>








