<%= render 'home-banner'%>

<div class="container">


  <br><h1>Search for an event nearby !</h1>

        <div
      id="map"
      style="width: 100%;
      height: 300px; margin: 10px auto; box-shadow: 0 0 10px rgba(0,0,0,0.2);"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div><br>

  <% if !@events.empty? %>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= event.photo %>');">
          <p class="title"><%= event.name %></p>
          <% if current_user %>
            <%= link_to "Show", event_path(event), class: "button" %>
          <% else %>
          <%= link_to "Preview", preview_event_path(event), class: "button"%>

       <!--    to keep !! quick dirty pop up solution try1

            <#%= link_to "Preview", preview_event_path(event), class: "button", :onclick=>"window.open(this.href,'create_company', 'height=600, width=600');return false;" %>

      ///// quick dirty pop up solution  -->


<!--        another try : not working yet

            <#%= link_to 'Preview', preview_event_path(event),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'button'}  %>

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content"></div>
              </div>
            </div>

       /////another try : not working yet     -->

          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


  <h3><%= link_to "Discover our Artists âœ¨", profiles_path, class: "b-border-tbg fullspace" %></h3>
  <h3><%= link_to "Discover our bars ðŸ¸", bars_path, class: "b-border-tbg fullspace" %></h3>

</div>
