<div class="fuckfooter">
  <div class="container"><br><br><br><br>
    <% if !@chatboxes.empty? %>
        <div class="sidenav">
          <% @chatboxes.each do |hash| %>
              <%= link_to(chatbox_path(hash[:id]), class: "sidenav-message-container") do %>
                  <div>
                    <%= cl_image_tag hash[:user_photo], class: "avatar" %>
                  </div>
                  <div class="last-msg-content">
                    <div class="white nodec">
                      <strong><%= hash[:partners_name] %></strong>
                    </div>
                    <p><%= hash[:last_msgs_content] %></p>
                  </div>
              <% end %>
          <% end %>
        </div>

    <% else %>

      <h1>No messages... yet ! </h1>
      <%if current_user.profile.is_bar_manager %>
        <h3><%= link_to "Discover our Artists âœ¨", profiles_path, class: "b-border-tbg fullspace" %></h3>
      <% else %>
        <h3><%= link_to "Discover our bars ðŸ¸", bars_path, class: "b-border-tbg fullspace" %></h3>
      <% end %>
    <% end %>

  </div>
</div>


















<!-- <div class="container"><br><br><br><br> -->
  <%# if !@chatboxes.empty? %>
    <!-- <h1>YOUR MESSAGES</h1> -->
    <%# @chatboxes.each do |hash| %>
    <%# if hash[:last_msgs_username] == current_user.profile.username %>
        <!-- <div class="message-sent"> -->
    <%# else %>
        <!-- <div class="message-received"> -->
    <%# end %>
        <!-- <div class="prevchat"> -->
            <!-- <h3><%#= link_to "CHAT WITH #{hash[:partners_name ]}", chatbox_path(hash[:id]),class: "blue-link" %></h3> -->
            <!-- <p><%#= hash[:last_msgs_username] %> sent:</p> -->
            <!-- <h4><%#= hash[:last_msgs_content] %></h4><br> -->
            <%#= link_to "Read previous", chatbox_path(hash[:id]),class: "b-border-tbg" %>
          <!-- </div> -->
    <!-- </div> -->
    <%# end %>
  <%# else %>
    <!-- <h1>No messages... yet ! </h1> -->
    <%# if current_user.profile.is_bar_manager %>
      <!-- <h3><%#= link_to "Discover our Artists âœ¨", profiles_path, class: "b-border-tbg fullspace" %></h3> -->
    <%# else %>
      <!-- <h3><%#= link_to "Discover our bars ðŸ¸", bars_path, class: "b-border-tbg fullspace" %></h3> -->
    <%# end %>
  <%# end %>
<!-- </div> -->
