<div class="container">
  <div class="card-login">
    <h1><%="say hi to #{Profile.find(params[:profile_id]).username} !"%></h1>
    <%= simple_form_for [@profile, Chatbox.new] do |b| %>
      <%= b.error_notification %>
      <%= text_field_tag 'message[content]',nil , class: 'first-input', placeholder: "  Type your message here ..." %>
      <br><br><%= b.button :submit, "Go ✨", class: "b-border-tbg" %>
    <% end %>
  </div>
</div>
