<div class="container">
  <h1>CONVO BETWEEN: <%= @sender %> AND <%= @recipient %></h1>
  <h2>PREVIOUS MESSAGES:</h2>
  <% @messages.each_with_index do |message, i| %>
    <h2><%= @usernames[i] %>:</h2> <p><%= message[:content] %> </p>
    <p>posted at: <%= message[:date] %></p>

    <% if message[:user_id] == current_user[:id] %>
      <%= link_to 'Edit this message', edit_message_path(message) %>
      <%= link_to 'Delete this message', message_path(message), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  <% end %>

  <h2>SEND NEW MESSAGE:</h2>

  <%= simple_form_for [@chatbox, @message] do |b| %>
    <%= b.error_notification %>
    <%= b.input :content %>
    <%= b.button :submit, "Send" %>
  <% end %>
</div>
