<div class="container">
  <div class="card-login">
  <h1> <%= @sender %> AND <%= @recipient %></h1>
  <% @messages.each_with_index do |message, i| %>
  <% if message.user == current_user %>
    <div class="message-sent">
  <% else %>
    <div class="message-received">
  <% end %>
      <div class="m-content">
        <h2><%= @usernames[i].upcase %></h2>
          <h3><%= message[:content] %> </h3>
        <p>posted at: <%= message[:date] %></p>
      </div>
      <div class="m-del">
        <% if message[:user_id] == current_user[:id] %>
          <%= link_to 'ðŸ—‘ï¸', message_path(message), method: :delete, data: { confirm: "Are you sure?" }%>
        <% end %>
      </div>
    </div>
  <% end %>

  <h2>SEND NEW MESSAGE:</h2>

  <%= simple_form_for [@chatbox, @message] do |b| %>
    <%= b.error_notification %>
    <%= b.input :content, label_html: { class: "input-des" }%>
    <%= b.button :submit, "Send", class: "b-border-tbg" %>
  <% end %>

</div>
