<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header"><h4>#<%= "INSERT SOMETHING HERE" %></h4></div>
      <div class="messages">
        <% @chatbox.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chatbox, Message.new ], remote: true do |f| %>
          <%= f.input :content, label: false %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container"> -->
  <!-- <div class="card-login"> -->
  <!-- <h1> <%= @sender %> AND <%= @recipient %></h1> -->
  <%# @messages.each_with_index do |message, i| %>
  <%# if message.user == current_user %>
    <!-- <div class="message-sent"> -->
  <%# else %>
    <!-- <div class="message-received"> -->
  <%# end %>
      <!-- <div class="m-content"> -->
        <!-- <h2><%#= @usernames[i].upcase %></h2> -->
          <!-- <h3><%#= message[:content] %> </h3> -->
        <!-- <p><%#= message[:date] %></p> -->
      <!-- </div> -->
      <!-- <div class="m-del"> -->
        <%# if message[:user_id] == current_user[:id] %>
          <%#= link_to 'ðŸ—‘ï¸', message_path(message), method: :delete, data: { confirm: "Are you sure?" }%>
        <%# end %>
      <!-- </div> -->
    <!-- </div> -->
  <%# end %>

  <%#= simple_form_for [@chatbox, @message] do |b| %>
    <%#= b.error_notification %>
    <%#= b.input :content, wrapper_html: { class: "input-des" }%>
    <!-- </div> -->
    <%#= b.button :submit, "", class: "send" %>
  <%# end %>
<!-- </div> -->
