<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BART</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="container">

      <div class="fixed transform" id="thisone" onclick="waithide()">
      <% if current_user && current_user.profile == nil %>
        <p><%= link_to "Register as an artist ✨", new_profile_path, class: "b-border-tbg" %> </p>
        <p><%= link_to "Register your bar 🥂", new_profile_path, class: "b-border-tbg" %></p>
      <% end %>
      </div>

      <%= yield %>
    </div><br><br><br>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
